<!-- Control's Component HTML Template -->
<div class="container-fluid" id="controls">
  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-primary" [disabled]="disabled" (click)="clearSeed()" id="clear">Clear</button>
      <button type="button" [ngClass]="{'btn': true, 'btn-sm': true , 'btn-success': !disabled, 'btn-danger': disabled}" (click)="changeStatus()" id="autoPlay">{{status}}</button>
    </div>
    <div class="col-sm-5">
      <div class="form-group form-inline">
        <label class="control-label">Change Tick Speed:</label>
        <select (change)="changeTickSpeed($event.target.value)" [disabled]="disabled" [value]="tickSpeed" class="form-control input-sm">
          <option value="100">100 ms</option>
          <option value="250">250 ms</option>
          <option value="500">500 ms</option>
          <option value="1000">1 seconds</option>
          <option value="2000">2 seconds</option>
        </select>
      </div>
    </div>
    <div class="col-sm-5">

    </div>
  </div>
</div>
